.profile-card{
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.profile-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.profile-name{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 20px;
}
.profile-card:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}