body{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
.todo-container{
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: center;
   
}
input{
    width: 50%;
    padding: 10px;
    height:40px ;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    padding: 10px;
    height: 60px ;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.todo-list{
    /* list-style-type: none; */
    padding: 0;
    font-weight: bold;
    text-align: center;

}